@model EmployeeTaskMVC.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HiredDate)
        </dd>
        <dt>
            Tasks
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Task Name</th>
                    <th>Start Time</th>
                    <th>Deadline</th>
                </tr>
                @foreach (var task in Model.ETasks)
                {
                    <tr>
                        <td>@Html.DisplayFor(taskitem => task.TaskName)</td>
                        <td>@task.StartTime.ToString("MM/dd/yyyy")</td>
                        <td>@task.Deadline.ToString("MM/dd/yyyy")</td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
